@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --color-bgprimary: #E8EDF2;
  --color-bgsecondary: #5E7AC4;
  --color-bgtertiary: #888dbb;

  --color-textprimary: #181818;
  --color-textsecondary: #f7f7f7;

  --font-body: "Crimson Pro", ui-sans-serif, system-ui, sans-serif;

}

@layer base{
  body{
    @apply bg-bgprimary;
    @apply font-body;
  }
}

@layer utilities{
  .nav-btn{
    @apply text-lg;
    @apply bg-bgsecondary;
    display: flex;
    color: var(--color-textsecondary);
    padding: 0.5rem 1rem;
    align-items:  center;
    border-radius: 3rem;
  }

  .nav-link{
    @apply lg:text-2xl text-xl;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 3rem;
  }

  .nav-link:hover{
    border: 2px solid var(--color-bgsecondary);
  }

  .active{
    border: 2px solid var(--color-bgsecondary);
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  iframe {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}